@font-face {
    font-family: 'coinyregular';
    src: url('coiny-regular-webfont.woff2') format('woff2'),
         url('coiny-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("/images/spiration.png");
}

/*
 * Controller
 */

.button {
    font-family: 'coinyregular', cursive;
    display: block;
    position: fixed;

    text-align: center;

    font-weight: bold;
    font-size: 1.6em;
}


.circle {
    display: block;
    position: fixed;

    border-radius: 50%;

    text-align: center;

}

div.debug-dir {
    position: fixed;
    bottom: 0;
}

// disable select
div.controller * {
   -webkit-user-select: none;
}

.stick {
    display: block;
    position: fixed;
}


div.status {
    text-align: center;
    color: white;
}

/* The Modal (background) */


.modal {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    // padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: black;
    color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*
 * Survey
 */

div.survey {
    background-color: #444;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 80px;
}

div.survey fieldset {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #777;
}


div.survey a {
    display: block;

    text-align: center;

    font-weight: bold;
    font-size: 1.6em;

    width: 80%;
    height: 50px;
    line-height: 50px;
    background-color: LimeGreen;
    color: white;

    text-align: center;
    margin: auto;
}

/*
 * Login page
 */

h2 {
    margin: 0;
    text-align: center;
    width: 100%;
}

#login {
    background-color: #444;
    color: white;
}

img.selected {
    // -webkit-box-shadow:inset 0px 0px 0px 2px yellow;
    // -moz-box-shadow:inset 0px 0px 0px 2px yellow;
    // box-shadow:inset 2px 2px 2px 2px yellow;
    outline: 2px solid yellow;
    outline-offset: -3px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
 * Admin
 */

.admin-button {
    display: inline-block;
    width: 50%;

    text-align: center;

    font-weight: bold;
    font-size: 1.6em;

    height: 4em;
}

.admin-sceneselect {
    width: 100%;
}


